*{
    font-family: 'Mulish', sans-serif;
}
.nav-list input{
    display:none;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
}
#check{
    display: none;
}
nav{
   margin-left: 40px;
   margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title,.nav-list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title img{
    width: 50px;
    height: 50px;
}
.nav-list li{
    list-style: none;
    padding: 0px 30px;
}
.nav-list a{
    text-decoration: none;
    color:  #424247;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.color{
    color: #FF5400;
   font-weight: 700;
}
.title{
    color: #131318;
    font-size: 2.1rem;
    font-weight: 800;
    padding-left: 10px;
    margin: 5px 0px;

}
.colorful{
    color: #FF5400;
    font-size: 2.1rem;
    font-weight: 800;
}

.Explore{ 
    text-align: center;
    margin-top: 40px;
    border-radius: 5px;
    margin-left: 40px;
   margin-right: 40px;
   background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 1440px;
   height: 500px;
   border-radius: 16px;
}
.text{
    text-align: center;
    width: 1440px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.text h1{
    align-items: center;
    color: #FFF;
    font-size: 3.8rem;
    font-weight: 800;
    padding-top: 80px;
}
.text p{
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
text-align: center;
width: 785px;
margin: auto;
padding-bottom: 20px;
}
.input{
    margin: 50px auto ;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 774px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
}

.input input,select,button{
    padding: 8px;
    border: none;
}

.btn{
    border-radius: 8px;
background: #FF5400;
width: 169px;
color: #FFF;
text-align: center;
font-size: 1.1rem;
font-weight: 300;

align-items: center;
}
.btn i{
    padding-right: 8px;
}
.popular-tour{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 31px;
    padding-top: 80px;
}
.describtion{
    width: 690px;
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */   
}
.plan >li{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 690px;
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px; 
}
.plan-headline{
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800; 
    margin-left: 0;  
}
.destination{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 60px;
}
.text1 p,h1{
    text-align: center;
    margin: auto;
}
.first  img,.third img{
    width: 693px;
}
.square1{
    width: 580px;
    height: 300px;
}

.square{
    width: 400px;
    height: 300px;
    
}
.first,.third,.second{
    padding-top: 50px;
   display: flex;
   justify-content: space-between;
   
}
.choose{
    margin: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.choose h2{
    font-size: 1.5rem;
    font-weight: 400px;
}
.choose p{
    color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
line-height: 26px; 
}

.hotel,.map{
    width: 630px;
    /* margin: 20px ; */
    padding: 25px;
}
.handpick{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    
}
.map{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.hotel{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.price{
    margin-top: 30px;
    border: 1px solid;
    width: 630px;
    margin-left: 380px ;
    padding: 25px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.deals{
margin: 40px;
padding-top: 50px;
padding-bottom: 50px;
}
.deals h1{
    font-size: 2.5rem;
    font-weight: 400px;
}
.deals >p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 643px;
margin: auto;
padding: 20px;
}
.deals i{
    color: #FF5400;
  
}
.book>p,.book1 >p{
    color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 500px;
}

.deals>div{
    display: block;
  margin-bottom: 20px;
height: 500px;
border-radius: 5px;

}
.book{
    width: 579px;
    /* height: 339px; */
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.8);
/* align-items: center; */
padding: 30px;
/* margin: auto; */
margin-left: 720px;

}
.book1{
    width: 579px;
    /* height: 339px; */
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.8);
/* align-items: center; */
padding: 30px;
/* margin: auto; */
/* margin-right: 320px;  */
}
.background{
    background-image: url(Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-left: 20px;
    width: 100%;
    
}
.book h3,.book1 h3{
    color: #131318;
font-size: 24px;

font-weight: 800;

}
.book h2, .book1 h2{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
}
.button{
    text-align: center;
    padding-bottom: 80px;
}
.packages,.letter{
    margin: 40px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headline{
    color: #131318;
font-size: 40px;
font-weight: 800;
line-height: 60px; /* 150% */
margin-top: 0;
}
.text2{
    width: 700px;
}
.text2 p{
    color: #5A5A5D;
    /* width: 538px; */
font-size: 1rem;

font-weight: 400;
line-height: 26px; /* 162.5% */
}
.text2 li{
    color: #131318;
   

font-size: 16px;
/* width: 518px; */
font-weight: 700;
line-height: 26px; /* 162.5% */
}

.news{
    border: #FF5400 1px solid;
    border-radius: 8px;
    width: 600px;
    padding: 20px;
    /* height: 450px; */
    display: block;
    text-align: center;

}
.news h2{
    color: #131318;
font-size: 2rem;
font-weight: 800;
padding-left: 20px;
}
.news p{
    width: 350px;
    color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-bottom: 10px;
margin: auto;
}
hr{
width: 398px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
margin-left: 108px;
}
.news input{
 width: 393px;
height: 42px;
margin: 15px 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding-left: 15px;
margin-left: 15px;

}
.bbtn{
    width: 410px;
    height: 42px;
    border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
margin-left: 15px;
}

.offer{
    width: 680px;
    height: 400px;
    border-radius: 8px;
    background-image: url(Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tag{
    width: 315px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
text-align: center;
margin-right: 20px;
margin-top: 225px;
/* margin-bottom: 10px; */
margin-left: 355px;
padding-top: 10px;
}
.tag h4{
    color: #FFF;
text-align: center;
font-size: 1.2rem;
font-weight: 400;

}
.tag h3{
    color: #FFF;
font-size:2rem;
font-weight: 800;
margin-top: 0;
}
footer{

    /* width: 100%; */
background: rgba(19, 19, 24, 0.05);
/* text-align: center; */
}
.foot-title{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
}
.foot-title img{
    /* margin-left: 520px; */
    /* margin-top: 20px; */
    width: 50px;
}
footer p{
    color: #5A5A5D;
text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 769px;
margin: auto;
padding-bottom: 30px;
}

footer >hr{
width: 1000px;
margin: auto;

}
/* #iconpic{
    text-align: center;
} */
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.social i{
padding: 10px;

}
.rights{
    padding-top: 20px;
}
.service{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}
.plans{
    border: 1px solid #5A5A5D;
    width: 650px;
    border-radius: 15px;
    padding: 20px;
}
.plans h2{
    font-size: 2.2rem;
    font-weight: bold;
    color: #FF5400;
}
.plans p,li{
color: #5A5A5D;
line-height: 24px;
}
.plans span{
    color: #131318;
    font-weight: bold;
}
.plans:hover{
    background-color: rgb(243, 228, 210);
    transition: all 5s ;
}
 .icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon h3{
    font-size: 12px;
}


@media screen and (max-width:600px) {
    /* header{
        width: 100%;
        border: solid 10px;
    } */
   
    nav{
        width: 100%;
        height: auto;
   
    }
    .nav-title h1{
        width: 150px;
    
    }
    .checkbtn{
        display: block !important;
    }
    #check:checked ~ul{
        left: 0;
    }
    .nav-list ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
        font-size: 20px;
        text-align: center;
    }
    .nav-list ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 54px;
        left:-200%;
        transition: all .1s;
    }
 .Explore,.text{
    text-align: center;
    width: 100%;
    height: 710px;
    margin: 0;
    
 }
 .text p{
    width: 80%;
    text-align: center;
  
 }

  .input{
    width: 70%;
    height: 30%;
    flex-direction: column;
    align-items: center;
  }
  .input input{
   
    text-align: center;
  }
  nav,.choose{
    margin: 0;
   
  }
  .title,.colorful{
    font-size: 18px;
    width: 100px;
  }

  .popular-tour,.describtion,.plan >li{
  flex-direction: column;
  gap: 24px;
    margin: 0;
    width: 100%;
    
}
.hill>img{
    width: 100%;

}

.text1 h1{
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    width: 80%;
   
}
.destination{
    margin: 0;
}
.first,.second,.third{
    flex-direction: column;
   gap: 20px;
   padding-top: 20px;

}
.first img,.second img,.third img{
    width: 100%;
   
}
.handpick{
    flex-direction: column;
    gap: 20px;
}
.hotel,.map,.price{
    width: 85%;
}
.price{
    margin-top: 20px;
   margin-left: 0;
}
.deals{
    margin: 0;
    width: 100%;
    text-align: center;

}

.deals h1{
    width: 100%;
    
}
.deals p{
    width: 80%;
  
}
.background{
    width: 95.6%;
    border-radius: 5px;
  
}
.button{
    display: none;
}
.book,.book1{
    width: 330px;
    /* height: 339px; */
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.8);
/* align-items: center; */
padding: 10px;
/* margin: auto; */
 margin-left: 0px; 
text-align: center;
}
.book p,.book1 p{
    width: 85%;
    /* padding-left: 30px; */
    margin-left: 30px;
   text-align: center;
    justify-content: center;
}

.packages{
    margin: 0;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
}
.text2>button{
    margin-top: 20px;
}
.text2{
    width: 100%;
}
.sky>img{
    width: 100%;
}
.letter{
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}
.news{
    width: 85%;
    /* margin: auto; */
    margin-left: 10px;
}
.news input{
width: 80%;
}
.news hr{
    width: 83%;
    margin-left: 30px;
}
.bbtn{
    width: 85%;
}
.offer {
    /* width: 470px; */
    /* margin-left: 55px; */
    width:100% ;
}
.tag{
    /* width: 315px;
    height: 120px; */
    width: 55%;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    margin-left: 170px;
    margin-top: 225px; 
    /* margin-bottom: 10px; */
    /* margin-left: 355px;
    padding-top: 10px; */
}
.tag h3{
   font-size: 22px;
}
.service{
    flex-direction: column;
    margin: 0;
    width: 90%;
    gap: 20px;
}
.plans{
    width: 100%;
    
}
.customer >img{
  width: 100%;
  padding: 10px 20px;
 
  
}
footer{
    width: 100%;
    margin: 0;
}
footer p{
    width: 100%;
}
footer hr{
    width: 330px;
}
}